/* light mode */
body {
  background-color: #fff;
  color: #333;
}

/* Dark mode */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

button {
  background-color: #2ecc71;
  color: white;
}

/* Dark mode button styles */
body.dark-mode button {
  background-color: #27ae60;
}

.carimage{
  margin-top: 5px;
}

.top{
  text-align: right;
}
.top h1{
  text-align: center;
}
.top button{
  padding: 12px 24px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
  opacity: 1;
  background-color: #2ecc71;
  border: none;
  color: white;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

}

.top button:hover {
  background-color: #27ae60;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.CarList{
    text-align: center;
}
.CarList h2{
  text-align: left;
}

